<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="h2">
        <%= @product.name %>
      </h1>
    </div>
  </div>
</div>

<section class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag("bike.png", alt:"Racing bike image", class: "img-responsive center-block") %>
    </div>

    <div class="col-xs-6">
      <p class="h3">
        <%= @product.description %>
      </p>

      <p class="h4">
        Color: <%= @product.colour %>
      </p>

      <p class="h4">
        Price: <%= @product.price %> EUR
      </p>

    </div>
  </div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</section>

