<!DOCTYPE html>
<html>
<head>
  <title>Basicrailsapp</title>
  <meta name="viewport"  content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Baloo|Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content-wrap">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4"><%= link_to "Bullock's Bikes Berlin", static_pages_index_path, :class => "h2 brand-logo" %></div>
        <nav class="col-xs-8 navbar default-navbar">
          <div class="nav__search">  
              <%= form_tag( "/products", method: "get") do %>
              <%= label_tag(:q, "Search") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
            <% end %>
          </div>  
          <ul class="nav__list h4">
            <li class="nav__list-item"><%= link_to "Home", static_pages_index_path %></li>
            <li class="nav__list-item"><%= link_to "Our Story", static_pages_about_path %></li>
            <li class="nav__list-item"><%= link_to "Contact Us", static_pages_contact_path %></li>
            <li class="nav__list-item">
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
    
  <% if notice %>
      <p id="notice" class="h2 text-center alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p id="notice" class="h2 text-center alert alert-info>"><%= alert %></p>
  <% end %>  
    
  <%= yield %>

</div><!--  end content wrap -->  

<footer class="footer">
    <div class="container-fluid">	
      <div class="row">
        <div class="col-xs-6">
          <p class="footer__brand">Made in Berlin by <a class="footer-link" href="http://www.twitter.com/george_bullock">George Bullock</a></p>
        </div> 
        <div class="col-xs-6">
          <p class="footer__copyright">&copy; 2016 Baseline Bullock Development</p>
        </div>      
      </div>
    </div> 
</footer>

</body>
</html>
